.header {
  position:sticky;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(13, 190, 221);
}

.item {
  float: left;
}

.header a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.item a:hover {
  background-color: green;
}
body{
  background-image:url(../pics/fish.jpg);
  background-repeat:repeat;
  background-size:cover;
}
h1{
  text-align:center;
  color:rgb(176, 224, 0);
  padding: 20px ;
}
.offer{
  font-size:150%;
  color:rgb(176, 224, 0);
}
img{
  width:20%;
  height:auto;
  float:right;
}
.reel{
  font-size:125%;
  color:rgb(176, 224, 0);
  text-align:right;
}
.footer{
  position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(13, 190, 221);
}
.footer a{
  text-decoration:none;
  color:white;
  font-size:125%
}
p{
  color:rgb(176, 224, 0);
  text-align:center;
}
table{
  width:50%;
  margin-left:auto;
  margin-right:auto;
  background-color:white;
  opacity:80%;

}
td{
  text-align:center;
}
td, th{
  border: 1px solid
}
